* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
}

.nav {
    width: 10rem;
    height: 98vh;
    background-color: greenyellow;

}

.main-content {

    width: 90vw;
}

.header {
    background-color: rgba(25, 0, 255, 0.712);
    height: 5rem;
}

.sub-content {
    display: flex;
    width: 100%;
}

.content {
    width: 80%;
}

.article {
    height: 75vh;
    background-color: rgba(255, 157, 242, 0.712);

}

.footer {
    background-color: rgba(25, 0, 255, 0.712);
    height: 10vh;
}

.aside {
    background-color: rgba(60, 255, 0, 0.712);
    width: 20%;
}